.has-error .help-block-error, .has-error .help-block{color:red;font-size: .85rem;}
div.hidden{display: none;}
form div.required label.control-label:after {content:" * ";color:red;}

.modal-body .card-body{padding: 0.5rem;}
.fee-structure .form-group{margin-bottom: 0px;}

/***UI Loading***/
.loading-message {display: inline-block;min-width: 125px;margin-left: -60px;padding: 10px;margin: 0 auto;color: #000 !important;font-size: 13px;font-weight: 400;text-align: center;vertical-align: middle;}
.loading-message.loading-message-boxed {border: 1px solid #ddd;background-color: #eee;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);}
.loading-message > span {line-height: 20px;vertical-align: middle;}


/* File Upload */
.file{visibility: hidden;position: absolute;}
.input-group-text.image-area{padding: 0.1rem 0.18rem 0.1rem 0.1rem;}
.fileupload .uneditable-input .fa, .fileupload .uneditable-input .fab, .fileupload .uneditable-input .fal, .fileupload .uneditable-input .far, .fileupload .uneditable-input .fas {position: absolute;top: 12px;left: 26px;}
.fileupload .uneditable-input .fileupload-preview {display: inline-block;float: left;overflow: hidden;padding: 0 0 0 17px;text-overflow: ellipsis;width: 100%;}
.fileupload .btn {border-radius: 0;}

@media only screen and (max-width: 479px) {
	.fileupload .uneditable-input {
		width: 170px;
	}
}

.navbar-nav > .user-menu > .dropdown-menu{width: 300px;}
.multi-cards{padding: 0.5rem;}
.multi-cards .card-header{padding: 0.75rem 0.5rem;}
.multi-cards .card-body{padding: 0.5rem;}
.multi-cards .table th, .multi-cards .table td{padding: 0.5rem;}
.activity-logger-card .nav-link{padding: 0.5rem 0.5rem}
html {
	font-size: 14px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{color:#000;}
.input-group-text label{margin-bottom: 0rem;}
.lbl-mb-0 label{margin-bottom: 0px;}
.pager-container ul.pagination{float: right;}
